<header>
	<h1>World Cup Youse 2018</h1>
	<h2>Take your chances and guess all the scores</h2>
  <!-- <img src="https://cdn-images-1.medium.com/max/212/1*Cu-_hObR9b7EpYVfHdZx1Q@2x.png"> -->
</header>

<div id="da-slider" class="da-slider">
	<div class="da-slide da-slide-current">
		<h2>Make your bet!</h2>
		<p>How good are you to predict the outcome of soccer games? Check your numerology guru and the horoscope for your star sign, you will need all the help you can get.</p>
		<a href="#" class="da-link">Sign up</a>
    <label class="da-login">or login</label>

		<div class="da-img hide-on-med-and-down">
      <img src="http://pluspng.com/img-png/fifa-world-cup-2018-logo-png-official-television-fifa-world-cup-2018-429.png" alt="image01">
    </div>
	</div>
</div>
