<header>
	<h1>Copa do mundo de futebol feminino 2019</h1>
	<h2>Dê seus palpites e adivinhe o resultado dos jogos</h2>
</header>

<div id="da-slider" class="da-slider">
	<div class="da-slide da-slide-current">
		<h2>Faça suas apostas!</h2>
		<p>Você é bom em adivinhar o resultado dos jogos? Consulte seu numerólogo e o horóscopo do dia, você vai precisar de toda ajuda que conseguir para liderar esse ranking.</p>

    <% if user_signed_in? %>
      <% is_admin = current_user.tournament_admin?(@world_cup) %>
      <% link_text = 'Palpites' %>

      <% if is_admin %>
        <% link_text = 'Admin' %>
      <% end %>

      <%= link_to(link_text, games_tournament_path(@world_cup), class: 'da-link') %>
    <% else %>
      <%= link_to('Cadastre-se', new_user_registration_path, class: 'da-link') %>

      <label class="da-login">
        <%= link_to('ou entre', new_user_session_path)  %>
      </label>
    <% end %>

		<div class="da-img hide-on-med-and-down">
      <img src="https://upload.wikimedia.org/wikipedia/pt/4/41/2019_FIFA_Women%27s_World_Cup.svg.png" alt="image01">
    </div>
	</div>
</div>
