<table class="striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Points</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% ranking.each_with_index do |user, index| %>
      <tr>
        <td>
          <% if index <= 2 %>
            <i class="material-icons">filter_<%= index + 1 %></i>
          <% else %>
            <%= index + 1 %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.total_points %></td>
        <td><i class="material-icons">info_outline</i></td>
      </tr>
    <% end %>
  </tbody>
</table>
