<% if @log.count > 0 %>
  <ul id="ranking-log">
    <% @log.each do |log| %>
      <li>
        <%=
          raw(
            [
              '<b>',
              log.points,
              '</b>',
              'point'.pluralize(log.points),
              'for guessing the',
              "<span class='#{log.reason}'>",
              log.reason.gsub('_', ' '),
              '</span>',
              'on',
              log.game.title
            ].join(' ')
          )
        %>
        <div class="ranking-log-scores">
          <p>Game score: <%= log.game.score %></p>
          <p>User guess: <%= log.guess %></p>

          <% if log.game.penalties? && log.reason == 'penalties_winner' %>
            <p><%= log.game.penalties_winner_id == log.game.host_id ? log.game.host.name : log.game.visitor.name %> won the match in the penalties.</p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  Nothing to show for this user. Sorry :(
<% end %>
