<% if !game.allows_tie? && game.host_score == game.visitor_score && game.host_id.present? && game.visitor.present? %>
  <a class="waves-effect waves-light btn-small green ranking-button" data-game-id="<%= game.id %>">
    Distribute points
  </a>
<% end %>
