#games-container {
  background: #e0e3ec image_url('bg.png') repeat top left;

  .game-info {
    font-size: 10px;
    clear: both;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
  }

  .flag {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .col.s1.versus {
    width: 5px;
    color: $primary-color;
  }

  .card-content .right-align.host-name {
    padding-right: 0;
  }

  .card-panel .team-name {
    display: block;

    @media #{$small-and-down} {
      font-size: 11px;
    }
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
}

.unconfirmed-team {
  cursor: pointer;
}

.browser-default {
  height: 22px;
}

.flag-placeholder {
  width: 25px;
  height: 25px;
}
