.logo-wrapper {
  font-size: 20px;
  text-indent: 10px;
}

.tournament-logo {
  width: 50px;
  max-height: 55px;
  margin-top: 5px;
  margin-left: 5px;

  @media #{$small-and-down} {
    width: 45px;
  }
}

.logout-button,
.user-name {
  float: right;
  margin-right: 10px;
  color: #000;

  a {
    color: #000;
  }
}

.admin-header {
  .logout-button a {
    color: #fff;
  }

  .nav-wrapper.user a {
    color: #fff;
  }

  .user-name {
    color: #fff;
  }
}

.nav-wrapper.user {
  background: transparent image_url('waves.gif') repeat 0% 0%;

  a {
    color: #000;
  }
}
