#error_explanation {
  h2 {
    font-size: 15px;
  }

  li {
    color: #a02424;
    background-color: #eee;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid #a02424;
    margin-bottom: 10px;
  }
}
