body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.da-slider {
	width: 100%;
	min-width: 520px;
	height: 400px;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
	background: transparent image_url('waves.gif') repeat 0% 0%;
	border-top: 8px solid #efc34a;
	border-bottom: 8px solid #efc34a;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
}

.da-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	text-align: left;
}

.da-slide-current {
	z-index: 1000;
}

.da-slider-fb .da-slide {
	left: 100%;
}

.da-slider-fb .da-slide.da-slide-current {
	left: 0px;
}

.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img {
	position: absolute;
	opacity: 0;
	left: 110%;
}

.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link {
	left: 10%;
	opacity: 1;
}

.da-slider-fb .da-slide .da-img {
	left: 60%;
	opacity: 1;
}

.da-slide h2 {
	color: #000;
	font-size: 66px;
	width: 50%;
	top: 60px;
	white-space: nowrap;
	z-index: 10;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 700;
}

.da-slide p {
	width: 45%;
	top: 155px;
	color: #916c05;
	font-size: 18px;
	line-height: 26px;
	height: 80px;
	overflow: hidden;
	font-style: italic;
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.da-slide .da-img {
	text-align: center;
	width: 30%;
	top: 25px;
	height: 256px;
	line-height: 320px;
	left: 110%; /*60%*/
}

.da-slide .da-link {
	top: 270px; /*depends on p height*/
	border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 3px solid rgba(255,255,255,0.8);
	padding: 2px 20px 0px;
	font-size: 18px;
	line-height: 30px;
	width: 130px;
	text-align: center;
	background: rgba(255,255,255,0.2);
}

.da-slide .da-link:hover {
	background: rgba(255,255,255,0.3);
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link {
	left: 10%;
	opacity: 1;
}

.da-slide-current .da-img {
	left: 60%;
	opacity: 1;
}

.da-slide .da-login {
  position: absolute;
	top: 315px;
  left: 10%;
	color: #fff;
	padding: 2px 20px 0px;
	font-size: 18px;
	line-height: 30px;
	width: 130px;
	text-align: center;
}
