<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color purple darken-4">
      <div class="nav-wrapper">
        <div class="left">
          <%= image_tag @tournament.logo, class: 'tournament-logo' %>
        </div>
        <ul class="left">
          <li class="main-logo hide-on-med-and-down">
            <h3 class="logo-wrapper">
              <%= @tournament.name %>
            </h3>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
