<header id="header" class="page-topbar <%= 'admin-header' if current_user.id == @tournament.user_id %>">
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <div class="left">
          <%= image_tag @tournament.logo, class: 'tournament-logo' %>
        </div>
        <ul class="left">
          <li class="main-logo">
            <h3 class="logo-wrapper">
              <%= @tournament.name %>
            </h3>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
